.main-layout{
    background-color: rgb(201, 201, 201);
    background-image: url('/img/home-img.jpg');
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* clip-path: polygon(100% 0, 100% 38%, 52% 89%, 18% 100%, 0% 38%); */
}
