.notes-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

/* .notes-list>* {
    background-color: rgb(160, 193, 221);
} */

.notes-list img {
    height: 100px;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clean-list button {
    border: none;
    color: rgb(102, 102, 102);
    background-color: unset;
    cursor: pointer;
}

.clean-list li {
    display: flex;
    align-items: center;
}

.notes-list h1 {
    margin: 0;
}

.notes-list textarea {
    background-color: unset;
    border: none;
    resize: none;
}

.notes-list textarea.done-todo {
    text-decoration: line-through;
}

.note-text, .img-container, .todos-container, .video-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.note-text>*, .img-container>* {
    margin: 10px;
    padding: 0;
}

.note-text.pinned img {
    height: 20px;
    align-self: flex-end;
    margin: 0;
}

.video-note.pinned img {
    height: 20px;
    align-self: flex-end;
    margin: 0;
}

.todos-container.pinned img{
    height: 20px;
    align-self: flex-end;
    margin: 0;
}

